{
	email {$ACME_EMAIL}
	auto_https disable_redirects
}

catoptricgames.duckdns.org {
	tls {
		dns duckdns {$DUCKDNS_TOKEN}
	}

	handle_path /api/* {
		reverse_proxy api:8080
	}

	handle {
		reverse_proxy frontend:80
	}
}

pgadmin.catoptricgames.duckdns.org {
	tls {
		dns duckdns {$DUCKDNS_TOKEN}
	}

	reverse_proxy pgadmin:80
}
